.timeline-container {
  position: relative;
  margin: 3rem auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 900px;
}

.timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #8e9399;
  transform: translateX(-50%);
}

.timeline-section-title {
  text-align: left;
  margin: 2rem 0 1.5rem;
  font-weight: 700;
  font-size: 3rem;
  color: var(--bs-#8e9399);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem 2rem;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  width: 16px;
  height: 16px;
  background: #c2c9d1;
  border-radius: 50%;
  border: 3px #8e9399;
  z-index: 1;
}

.timeline-item.left {
  left: 0;
  text-align: left;
}

.timeline-item.left::before {
  right: -8px;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item.right::before {
  left: -8px;
}

.timeline-item .content {
  background-color: rgba(33,37,41,1);
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(33,37,41,1);
}

.timeline-item .date {
  font-size: 0.9rem;
  font-weight: bold;
  color: #8e9399;
}

.timeline-item .location {
  font-style: italic;
  font-size: 0.9rem;
  color: #8e9399;
}

.timeline-item ul {
  padding-left: 1rem;
  margin-top: 0.5rem;
}
